.sliderItem {
  margin-top: 2pt;
  margin-inline: 2pt;
  padding-block: 2pt;
  padding-left: 6px;
  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
  color: var(--color-text-1);
  font-family: 'ZiKuXingQiuFeiYangTi', sans-serif;
}

.sliderItemSelect {
  border-radius: 4pt;
  color: var(--color-text-1);
  background-color: var(--color-one);
  box-shadow: var(--border-show);
  animation: sliderItemSelect 250ms ease-in-out;
}

.sliderItem i {
  width: 12pt;
  height: 12pt;
  text-align: center; 
  line-height: 1.2;
}
.sliderItemSelect i,
.sliderItemSelect span {
  text-shadow: var(--border-show);
}

@keyframes sliderItemSelect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
  
}
