.titleBar {
  align-items: center;
  user-select: none;
  background-color: var(--color-two);
  box-shadow: var(--border-show);
  height: 28pt;
}

.btns span {
  display: inline-block;
  width: 25pt;
  line-height: 2.8;
  /* font-size: 14pt; */
  text-align: center;
}

.btns span:hover {
  cursor: pointer;
  background-color: var(--color-two);

  &:last-child {
    background-color: red;
  }
}

.btns {
  height: inherit;
}

.titleBar .title {
  padding-left: 8pt;
  font-size: 14pt;
  font-weight: bolder;
  text-shadow: var(--border-show);
  font-family: 'ZiKuXingQiuFeiYangTi', sans-serif;
}

.drop {
  app-region: drag;
  flex: 1;
  height: inherit;
  display: flex;
  justify-content: center;
  position: relative;
}

.drop .not,
.drop .not_two {
  app-region: none;
  max-width: 600px;
  border-radius: 4pt;
  margin-inline: 20%;
  margin-block: 4pt;
  padding: 2pt 6pt;
  /* font-size: 8pt; */
  flex: 1;
  overflow: hidden;
  background-color: var(--color-one);
  box-shadow: var(--border-show-inset);
  text-shadow: var(--border-show);
  display: flex;
  align-items: center;
}

.drop .host_list {
  position: absolute;
  display: none;
  box-sizing: border-box;
  background-color: var(--color-one);
  box-shadow: var(--border-show);
  border-radius: 4pt;
  padding: 4pt;
  width: 60%;
  top: 100%;
  z-index: 2;
}
.drop .host_list_focus {
  display: flex;
  flex-direction: column;
  animation: host_list 50ms ease-out;
}

.drop .host_list p {
  margin-block: 2pt;
  height: 16pt;
  cursor: pointer;
}
.drop .host_list p span:first-child {
  display: inline-block;
  width: 20pt;
  border-radius: 2pt;
  text-align: center;
  background-color: var(--color-two);
}

.drop .host_list p span:last-child {
  height: 16pt;
  margin-left: 4pt;
}

.drop .host_list p:nth-child(1) span:first-child {
  background-color: red;
}
.drop .host_list p:nth-child(2) span:first-child {
  background-color: orange;
}
.drop .host_list p:nth-child(3) span:first-child {
  background-color: yellow;
}

@keyframes host_list {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 100%;
  }
}
