.histroy {
  max-height: calc(100vh - 37px);
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 1vh;
  overflow-y: scroll;
}
.histroy_item {
  display: flex;
}
.histroy_item img {
  min-width: 15vh;
  min-height: 20vh;
  max-width: 15vh;
  max-height: 20vh;
}
.histroy_item_right_one {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 1vh;
  /* background-color: red; */
}

.histroy_item_right_one h2 {
  margin-block: 2px;
}

.histroy_item_right_two {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.histroy_item_right {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.histroy_not_data {
  height: calc(100vh - 37px);
  display: flex;
  justify-content: center;
  align-items: center;
}
