.pay-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.pay_premium {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--color-one);
  width: 50%;
  padding: 12px;
}
.pay_premium span {
  font-size: 10pt;
  word-wrap: break-word;
}
.pay_premium span.device_id {
  font-size: 8pt;
  /* color: red !important; */
}

.pay-list {
  margin-block: 0;
  padding-inline: 10vw;
}
.pay_item_selected{
  background-color: var(--color-two);
  box-shadow: var(--border-show);
  transform: scale(1.05);
}
.pay-item {
  margin-inline: 8px;
  display: inline-flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  width: 140px;
  height: 140px;
  background: linear-gradient(var(--color-two), var(--color-one));
  border-radius: 10px;
  flex: 1;
  padding: 10px;
  overflow: hidden;
  position: relative;
  &::after {
    width: 50%;
    height: 20px;
    text-align: center;
    /* padding-inline: 20px; */
    padding-block: 2px;
    transform: rotate(-45deg);
    background-color: var(--color-two);
    font-family: 'ZiKuXingQiuFeiYangTi';
    content: '订阅';
    display: block;
    position: absolute;
    right: -19px;
    bottom: 4px;
    background-color: red;
    filter: grayscale(0.2);
  }
  &:active {
    opacity: 0.8;
    transform: scale(0.95);
  }
}
.pay-item div {
  color: var(--color-text-1);
  &:nth-child(2) {
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
    margin-top: 10px;
  }
}

.pay-item div span {
  &:nth-child(1) {
    font-size: 12pt;
    font-weight: normal;
  }
}

.pay-item-title {
  font-family: 'ZiKuXingQiuFeiYangTi';
  opacity: 0.4;
  font-size: 8pt;
}

.pay-info-container {
  height: 300px;
  max-height: 300px;
  padding-top: 20px;
  text-align: center;
}
.pay-info-container h3 {
  margin-block: 10px;
}
.pay-info {
  user-select: none;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.pay-info img {
  -webkit-user-drag: none;
  margin-top: 8px;
  width: 150px;
  height: 150px;
  margin-inline: auto;
  border: 10px solid var(--color-one);
  border-radius: 20px;
  box-shadow: var(--border-show);
}

.pay-info button {
  margin-top: 16px;
  margin-inline: auto;
  padding-inline: 10px;
  background-color: var(--color-two);
  color: var(--color-text-1);
  font-weight: normal;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: var(--border-show);
  &:active {
    opacity: 0.8;
    transform: scale(0.95);
  }
}

.pay_ps {
  position: absolute;
  right: 3%;
  bottom: 5%;
  opacity: 0.2;
  font-size: 8pt;
  font-family: 'ZiKuXingQiuFeiYangTi';
}
