.videoDetil {
  z-index: 1;
  animation: fadeInUpBig 250ms ease-out;
  padding: 10vh;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.2);
}
.videoDetil .title {
  position: absolute;
  right: 10vh;
}

.videoDetil .center {
  display: flex;
  /* padding: 4vh; */
  /* background-color: rebeccapurple; */
}
.videoDetil .center img {
  width: 25vh;
  border-radius: 4pt;
  box-shadow: var(--border-show);
}
.videoDetil .center .right {
  margin-left: 2vw;
}
.videoDetil .center .right {
  font-family: 'ZiKuXingQiuFeiYangTi'; /* 自定义字体名称 */
}
.videoDetil .center .right div:nth-child(1) {
  font-size: 4vh;
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
