.video_play {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 1);
  z-index: 2;
  display: flex;
  justify-content: center;
  animation: fadeInUpBig 250ms ease-out;
  user-select: none;
}

.video_play:hover > .video_play_title {
  opacity: 1;
  transition: 280ms all ease-in;
}
.video_play_title {
  transition: 280ms all ease-in;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  opacity: 0;
  z-index: 2;
  padding-left: 10px;
}
.video_play_title h3 {
  color: white;
  app-region: drag;
}
.video_play_title i{
  color: white;
}
.video_play_close{
  margin-right: 10px;
  font-size: 16pt;
  cursor: pointer;
}

.videoDetil .center img {
  width: 25vw;
  min-width: 25vw;
  height: 35vw;
}


@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
