@import url("./base.css");

.titleBar {
    background-color: var(--ev-c-black-mute);
    user-select: none;
}

.title {
    padding-left: 4pt;
}

.drop {
    flex: 1;
    app-region: drag;
}

.btns span {
    display: inline-block;
    width: 20pt;
    text-align: center;
}

.btns span:hover {
    background-color: var(--ev-c-black-soft);

    &:last-child {
        background-color: red;
    }
}