@font-face {
  font-family: 'ZiKuXingQiuFeiYangTi'; /* 自定义字体名称 */
  src: url('./fonts/ZiKuXingQiuFeiYangTi-2.ttf') format('truetype'); /* 字体文件路径和格式 */
}

ul {
  list-style: none;
  padding-left: 0;
}

body {
  overflow: hidden;
  min-height: 100vh;
  line-height: 1.6;
  margin: 0;
  background: var(--color-two);
}

* {
  color: var(--color-text-1);
}
.plyr__controls__item.plyr__time,svg{
  color: white;
  fill: white !important;
}
:root {
  --plyr-color-main:var(--color-two);
  --plyr-range-fill-background:var(var(--color-text-1));
  --color-one: #328e6e;
  --color-two: #67ae6e;
  --color-text-1: #e1eebc;
  --border-show: 1px 1px 2pt #0000001f;
  --border-show-inset: 1px 1px 2pt #0000001f inset;
  --color-opacity-02: #90c67c;
  /* WebKit浏览器 */
  ::-webkit-scrollbar {
    width: 4pt; /* 滚动条宽度 */
  }

  ::-webkit-scrollbar-track {
    background: var(--color-opacity-02); /* 滚动条滑块的背景色 */
    box-shadow: var(--border-show-inset);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-text-1); /* 滚动条轨道的背景色 */
    /* box-shadow: var(--border-show); */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-two); /* 滚动条滑块鼠标悬停时的背景色 */
  }
}

input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
input::placeholder {
  color: var(--color-two); /* 设置提示文本颜色为灰色 */
}
/* 以下是重写andt组件样式 */
.ant-segmented {
  background-color: var(--color-one) !important;
}

.ant-segmented-thumb,
.ant-segmented-item-selected {
  background-color: var(--color-two) !important;
}

.ant-btn {
  background-color: var(--color-two) !important;
  border-color: var(--color-one);
  &:hover {
    border-color: var(--color-text-1) !important;
  }
}

.ant-segmented-item{
  user-select: none;
}
