.card {
  padding: 6pt;
  display: inline-block;
  background-color: white;
  border-radius: 8pt;
  box-shadow: var(--border-show);
  margin: 2pt;
  text-align: center;
}

.card_img_card {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 6pt;
  box-shadow: var(--border-show);
  transition: all ease-out 250ms;
}
.card_img_card:active {
  -webkit-user-drag: none;
  transform: scale(0.95);
}

.card_img_card img {
  width: 100% !important;
  cursor: pointer;
}

.card_img_one,
.card_img_two {
  position: absolute;
  top: 6pt;
  left: 6pt;
  padding: 3pt;
  font-size: 8pt;
  border-radius: 1pt;
  background-color: var(--color-two);
}
.card_img_two {
  font-weight: bolder;
  background-color: var(--color-two);
  right: -3vw;
  bottom: 4pt;
  width: 9vw;
  transform: rotate(-45deg);
  top: auto;
  left: auto;
}

.card_img {
  width: 100% !important;
  text-align: center;
}
img {
  background-color: var(--color-text-1);
}

.card_img .title {
  font-size: 14pt;
  line-height: 1.8;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  margin: 0;
  padding: 0;
  text-shadow: var(--border-show);
}
.card_img .disc {
  cursor: pointer;
  display: inline-block;
  color: var(--text-color);
  text-shadow: var(--border-show);
  font-size: 10pt;
  opacity: 0.8;
  margin-right: 2pt;
}
