.grid_view {
  display: grid;
  grid-template-rows: auto;
  max-height: 100vh;
  overflow-y: scroll;
  cursor: pointer;
  gap: 1.5vh;
  padding: 1.5vh;
}
.grid_view img:active {
  -webkit-user-drag: none;
  transform: scale(0.95);
}
.grid_view_end {
  color: var(--color-opacity-02);
  grid-column: 1 / -1;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5vh;
  &::before,
  &::after {
    padding: 4pt;
    content: '--';
  }
}

@media screen and (max-width: 1000px) {
  .grid_view {
    grid-template-columns: repeat(4, auto);
  }
  .grid_view img {
    height: calc(100vw / 4);
  }
}

@media screen and (min-width: 1000px) {
  .grid_view {
    grid-template-columns: repeat(4, auto);
  }
  .grid_view img {
    height: calc(100vw / 4);
  }
}
@media screen and (min-width: 1200px) {
  .grid_view {
    grid-template-columns: repeat(5, auto);
  }
  .grid_view img {
    height: calc(100vw / 4);
  }
}
@media screen and (min-width: 1400px) {
  .grid_view {
    grid-template-columns: repeat(6, auto);
  }
  .grid_view img {
    height: calc(100vw / 5);
  }
}
