.grid_view {
  display: grid;
  grid-template-columns: auto auto auto auto;
  max-height: 100vh;
  overflow-y: scroll;
  cursor: pointer;
  gap: 1.5vh;
  padding: 1.5vh;
  user-select: none;
}
.grid_view img:active {
  -webkit-user-drag: none;
  transform: scale(0.95);
}
.grid_view_end {
  color: var(--color-opacity-02);
  grid-column: 1 / -1;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5vh;
  &::before,
  &::after {
    padding: 4pt;
    content: '--';
  }
}

@media screen and (max-width: 1000px) {
  .grid_view {
    grid-template-columns: auto auto auto auto;
  }
  .grid_view img {
    width: 18vw;
    height: calc(100vw / 4);
  }
}

@media screen and (min-width: 901px) {
  .grid_view {
    grid-template-columns: auto auto auto auto;
  }
  .grid_view img {
    width: 20vw;
    height: calc(100vw / 4);
  }
}
@media screen and (min-width: 1200px) {
  .grid_view {
    grid-template-columns: auto auto auto auto auto;
  }
  .grid_view img {
    width: 16vw;
    height: calc(100vw / 5);
  }
}
@media screen and (min-width: 1400px) {
  .grid_view {
    grid-template-columns: auto auto auto auto auto auto;
  }
  .grid_view img {
    width: 14vw !important;
    height: calc(100vw / 5) !important;
  }
}
