.titleBar {
  align-items: center;
  user-select: none;
  background-color: var(--color-one);
  height: 28pt;
}

.btns span {
  display: inline-block;
  width: 25pt;
  line-height: 2.8;
  /* font-size: 14pt; */
  text-align: center;
}

.btns span:hover {
  cursor: pointer;
  background-color: var(--color-two);

  &:last-child {
    background-color: red;
  }
}

.btns {
  height: inherit;
}

.title {
  padding-left: 12pt;
  font-size: 12pt;
}

.drop {
  flex: 1;
  app-region: drag;
  height: inherit;
  display: flex;
  justify-content: center;
}

.drop .not {
  max-width: 600px;
  border-radius: 4pt;
  margin-inline: 10%;
  margin-block: 4pt;
  padding: 2pt 6pt;
  /* font-size: 8pt; */
  flex: 1;
  overflow: hidden;
  background-color: var(--color-two);
  box-shadow: var(--border-show-inset);
  text-shadow: var(--border-show);
}
