.versions {
    max-width: 600px;
    margin-inline: auto;
    width: 50%;
    padding: 12pt;
    border-radius: 12pt;
    box-shadow: var(--border-show);
    background-image: url('../../assets/wavy-lines.svg');
    user-select: none;
}

h4 {
    font-size: 28px;
    font-weight: bold;
    background-image: linear-gradient(to right, #e06fad, #592bff);
    background-clip: text;
    color: transparent;
}