.versions {
  width: 40vmax;
  height: 30vmax;
  max-width: 500px;
  max-height: 400px;
  margin-inline: auto;
  padding: 12pt;
  border-radius: 12pt;
  box-shadow: var(--border-show);
  background-color: var(--color-two);
  background-image: url('../../assets/wavy-lines.svg');
  user-select: none;
}

h4 {
  margin-block: 10px;
  font-size: 28px;
  font-weight: bold;
  font-family: 'ZiKuXingQiuFeiYangTi';
  /* background-image: linear-gradient(to right, var(--color-one) 1%, var(--color-two)); */
  /* background-clip: text; */
  /* color: transparent; */
}
